/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#secondary {
	padding-top: 72px;
	width: 25%;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

body.archive {
	.archive-product {
		flex-flow: column nowrap;
		display: flex;
	}
}

.site-main {
	margin: 0 auto;
}

.home-hero {
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	width: 100vw;
	height: 100vh;
	position: relative;
	margin-bottom: 72px;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

.site-header {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.site-description {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.journal-container {
	margin: 0 auto;
	width: 1120px;
	h2 {
		text-align: center;
		font-size: 38.4px;
		margin-bottom: 60px;
		margin-top: 0;
		color: #2f1339;
		font-weight: normal;
		line-height: 48px;
	}
	.most-recent-journals {
		display: flex;	
		margin: 0 auto;
		justify-content: space-between;
		margin-bottom: 72px;
		h3 {
			margin-top: 15px;
		}
		.journal-recent-block-item {
			flex: 0 1 32%;
			border: 1px solid #e1e1e1;
			.journal-thumbnail-wrapper {
				background-color: #e1e1e1;
			}
			.journal-info-wrapper {
				padding: 12px;
				margin-bottom: 60px;
			}
			.entry-meta {
				font-size: 12px;
			}
		}
		img {
			height: 250px;
			width: auto;
			max-width: 100%;
		}
		
		.post-permalink {
			color: #248a83;
			text-decoration: none;
			font-size: 20.8px;
			line-height: 26px;
			text-transform: uppercase;
			font-family: Novecento,sans-serif;
			font-weight: bold;
			letter-spacing: 2px;
		}
		.journal-button {
			text-decoration: none;
			text-transform: uppercase;
			font-family: Novecento,sans-serif;
			background-color: transparent;
			border: 1px solid #000;
			color: #000;
			font-size: 14.4px;
			line-height: 14.4px;
			padding: 12px 24px;
			position: absolute;
			transform: translate(9%, -130%);
			&:hover {
			background: #248a83;
			color: white;		
			}
		}
	}
}

.home-logo {
	
	width: 50%;
	a {
		background: url(../../images/inhabitent-logo-tent.svg) no-repeat;
		background-size: contain;
		width: 50px;
		height: 33px;
		margin-left: 25.5%;
	}
}

.page-template-about .entry-header {
	height: 100vh;
	.entry-title {
		position: absolute;
		color: white;
		font-size: 48px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.content-area {
    width: 100%;
}

.site-content {
    display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.page-id-183 .site-content {
	flex-flow: column nowrap;
}

.page-id-183 #site-navigation {			
		a {
		color: white;
		}
}

.page-id-2 #site-navigation {			
		a {
		color: white;
		}
}

.page-id-183 .home-logo {
	a{
	background: url(../../images/inhabitent-logo-tent-white.svg) no-repeat;
	background-size: contain;
	}
}

.page-id-2 .home-logo {
	a{
	background: url(../../images/inhabitent-logo-tent-white.svg) no-repeat;
	background-size: contain;
	}
}

.front-page-shop-container {
	text-align: center;
	width: 1120px;
    margin: 0 auto 72px;
	h2 {
		font-size: 38.4px;
		color: #2f1339;
		margin-bottom: 60px;
		line-height: 48px;
		margin-top: 0;
	}
	.front-page-terms {
		text-align: center;
		margin: 0 auto;
		display: flex;
		.front-page-term {
			list-style: none;
			border: 1px solid #e1e1e1;
			border-top-width: 5px;
			padding: .75rem;
			margin: 0 auto;	
			width: 23%;
			img {
				width: 70px;
				height: 70px;
			}
			.front-page-term-description {
				min-height: 38.96%;
			}
			.shop-button {
				margin-bottom: 12px;
			}
			a {
				background: #248a83;
				color: white;
				text-transform: uppercase;
				padding: 12px 24px;
				text-decoration: none;
				font-size: 14.4px;
			}
		}
	}
}

.post-type-archive-product {
	.content-area {
		margin: 0 auto;
		width: 75%;
		h1 {
			text-align: center;
		}
		ul {
			display: flex;
			padding-left: 0;
			margin-left: 0;
			text-transform: uppercase;
			justify-content: center;
			list-style-type: none;
			li {
				margin: 0 1.5rem;
			}
			a {
			text-decoration: none;	
			color: #248a83;
			font-size: 19.2px;
			line-height: 33.6px;
			margin-bottom: 24px;
			margin-top: 19.2px;			
			}
		}
	}
}

.product-grid {
	display: flex;
	flex-wrap: wrap;
	width: 1120px;
	justify-content: space-between;
	margin: 0 auto;
	.product-grid-item {
		display: flex;
		margin-bottom: 24px;
		border: 1px solid #e1e1e1;
		flex: 0 1 23%;
        max-width: 23%;
		h2 {
			font-size: 19px;
			text-align: center;	
			text-transform: none;
			font-weight: 400;
    		font-family: Merriweather Web,serif;
			letter-spacing: 0;
		}
		.thumbnail-wrapper {
			background-color: #e1e1e1;
			img {
				height: 250px;
				max-width: 100%;
			}
		}
	}
}

.tax-product-type {
	margin: 0 auto;
	.content-area {
		width: 100%;
	}
	.page-header {
		text-align: center;
	}
	.site-footer {
	}
}

.blog {
	.site-content {
	padding-top: 40px;		
	}
	.entry-title {
		a {
			position: absolute;
			transform: translate(0%, -487%);
			background-color: #248a83;
			max-width: 75%;
			width: 41%;
			color: #fff;
			padding: 12px 24px;
			text-decoration: none;
			font-size: 33.6px;
			line-height: 42px;
		}

	}
	.entry-header {
		img {
			width: 96%;
		}
	}
	.entry-content {
		a {
			text-decoration: none;
			text-transform: uppercase;
			font-family: Novecento,sans-serif;
			background-color: transparent;
			border: 1px solid #000;
			color: #000;
			font-size: 14.4px;
			line-height: 14.4px;
			padding: 12px 24px;
			&:hover {
				background: #248a83;
				color: white;
				border: none;
			}
		}
	}
	.content-area {
		border-right: 1px solid #e1e1e1;
		width: 73%;
		padding-right: 5%;
		padding-top: 80px;
		padding-bottom: 48px;
	}
	.widget-area {
		padding-left: 5%;
		padding-top: 48px;
	}
}

.page-template-about {
	.about-container {
		width: 1120px;
		margin: 0 auto;
		padding-bottom: 40px;
		.entry-container {
			width: 800px;
			margin: 0 auto;
			h2 {
				text-align: center;
				font-size: 33.6px;
				line-height: 42px;
				margin-bottom: 24px;
				color: #2f1339;
			}
			p {
				line-height: 28px;
			}
		}
	}
}

.page-template-default {
	.entry-content {
		margin: 0;
	}
	.content-area {
		border-right: 1px solid #e1e1e1;
	}
	
	b {
		font-size: 33.6px;
		line-height: 42px;
		letter-spacing: 2px;
		margin-bottom: 24px;
		margin-top: 27.888px;
		text-transform: uppercase;
		font-family: Novecento,sans-serif;
		
	}
	.widget-area {
		padding-left: 5%;
		padding-top: 48px;
	}
	.wpcf7-submit {
		background: #248a83;
		border: none;
		text-shadow: none;
		box-shadow: none;
		border-radius: 0;
		color: white;
		padding: 12px 24px;
		&:hover {
			text-shadow: none;
			box-shadow: none;
		}
	}
}

#secondary {
	a {
		text-decoration: none;
		color: #248a83;
		&:hover {
			color: black;
		}
	}
	.fa {
		padding-right: .5rem;
		cursor: auto;
	}
}

.single-product {
	.site-main {
		width: 1120px;
		margin: 0 auto;
		padding-top: 40px;
	}
	.product {
		display: flex;
		justify-content: space-between;
		.thumbnail-container {
			width: 48%;
			img {
				max-width: 100%;
			}
		}
		.entry-content {
			width: 48%;	
			.product-price {
				margin-bottom: 21.44px;
				font-size: 28.8px;
				font-family: Novecento,sans-serif;
				
			}		
		}
		button {
			text-transform: uppercase;
			font-family: Novecento,sans-serif;
			background-color: transparent;
			border: 1px solid #000;
			color: #000;
			font-size: 14.4px;
			line-height: 14.4px;
			padding: 12px 24px;
			border-radius: 0;
			text-decoration: none;
			&:hover {
				background: #248a83;
				color: white;
				box-shadow: none;
				text-shadow: none;	
			}
		}
		p {
			margin: 0;
			padding: 0;
		}
	}
}

.adventure-container {
	h2 {
		font-size: 38.4px;
		font-weight: normal;
		text-align: center;
		}
	.adventure-inner-container {
		display: flex;
		height: 540px;
		margin: 0 auto;
		width: 1120px;
		h3 {
			a {
				color: white;
				text-decoration: none;
				text-transform: none;				
			}
		}
		.large-text {
			font-size: 39px;
			transform: translate(3%, 0%);
		}

		.small-text {
			font-size: 27px;
			transform: translate(8%, 0%);						
		}
		.adventure-one {
			background: url(../../images/canoe-girl.jpg) no-repeat center;
			background-size: cover;
			border-right: 10px solid white;
			height: 540px;	
			width: 50%;
			a {
			}
		}
		.adventure-group {
			border-left: 10px solid white;
			display: flex;
			flex-wrap: wrap;
			height: 540px;	
			width: 50%;
			a {
			}
			.adventure-two {
				background: url(../../images/beach-bonfire.jpg) no-repeat center;
				background-size: cover;
				border-bottom: 10px solid white;
				height: 270px;			
				width: 100%;
			}
			.adventure-three {
				background: url(../../images/mountain-hikers.jpg) no-repeat center;
				background-size: cover;
				border-right: 10px solid white;
				border-top: 10px solid white;
				height: 270px;						
				width: 50%;
			}
			.adventure-four {
				background: url(../../images/night-sky.jpg) no-repeat center;
				background-size: cover;
				border-left: 10px solid white;
				border-top: 10px solid white;
				height: 270px;						
				width: 50%;
			}
		}
	}
	p {
		width: 1120px;
		margin: 0 auto;
		padding: 35px 0px 70px;
	}
	.adventure-button-solid {
		text-decoration: none;
		color: white;
		background: #248a83;
		font-size: 19.2px;
		padding: 12px 24px;
		text-transform: uppercase;		
	}
	.adventure-button-hover {
		text-decoration: none;
		border: 1px solid white;
		color: white;
		font-size: 14.4px;
		padding: 12px 24px;
		text-transform: uppercase;
		&:hover {
			background: #248a83;
			border: none;

		}		
	}
	.read-more {
		transform: translateX(4%);
	}
	.read-more-square {
		transform: translateX(8%);		
	}
}

.single-adventure {
	img {
		width: 100%;
	}
	.entry-content {
		width: 800px;
		margin: 0 auto;
		.buttons-container {
			padding-bottom: 40px;			
		}
		button {
			text-transform: uppercase;
			font-family: Novecento,sans-serif;
			background-color: transparent;
			border: 1px solid #000;
			color: #000;
			padding: 12px 24px;
			border-radius: 0;
			text-decoration: none;
			h2 {
				font-size: 14.4px;
				margin: 0; 
			}
			.social-button {
				color: black;
				font-size: 14.4px;
				line-height: 14.4px;
			}
			&:hover {
				background: #248a83;
				box-shadow: none;
				text-shadow: none;
				border: none;
				.social-button {
					color: white;
				}
			}
		}
	}
}

.post-type-archive-adventure {
	.site-main {
		width: 1120px;
		margin: 0 auto;
	}
	h2 {
		font-size: 32px;
		text-align: center;
		border-bottom: 1px dashed #c8c8c8;
		padding-bottom: 32px;
		margin: 50px 0;
	}
	.adventure-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	.adventure-grid-item {
		position: relative;
		width: 49%;
		overflow: hidden;
		padding-bottom: 16px;
		.adventure-info {
			position: absolute;
			top: 7%;
		    left: 4%;
			h3 {
				font-size: 45px;
				a {
					&:hover {
					color: #f0e4d1;
					}	
				}
			}
			a {
				color: white;
				text-decoration: none;
			}
			.adventure-button {
				padding: 12px 24px;
				border: 1px solid white;
				&:hover {
				background: #248a83;
				border: none;
				}
			}
		}
	}
}

.search-results {
	#secondary {
		padding-left: 5%;
	}
	.site-main {
		padding-right: 5%;		
	}
	.content-area {
		border-right: 1px solid #e1e1e1;
	}
	.page-header {
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 3rem;
		padding-bottom: 1rem;
	}
	h2 {
		a {
			color: #248a83;;
			text-decoration: none;
			font-size: 33.6px;
		}
	}
	.entry-summary {
		a {
			color: black;
			padding: 12px 24px;
			border: 1px solid black;
			text-decoration: none;
			font-size: 14.4px;
			line-height: 14.4px;
			&:hover {
				background: #248a83;
				border: none;
				color: white;
			}
		}
	}
}

.error404 {
	.content-area {
		border-right: 1px solid #e1e1e1;
		padding-right: 5%;
	}
	#secondary {
		padding-left: 5%;
	}
	a {
		color: #248a83;		
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
	.search-form {
		button{
			visibility: hidden;
		}
	}
	.search-field {
		display: block;
		background-color: #f4f4f4;
		padding: .3rem;
	}
	fieldset {
		border: none;
	}
}