/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

body{
	&:not(.page-template-about){
		#primary {
			width: 75%;
		}
	}
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#secondary {
	width: 25%;
}

body.archive {
	.archive-product {
		flex-flow: column nowrap;
		display: flex;
	}
}

.site-main {
	margin: 0 auto;
}

.home-hero {
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	width: 100vw;
	height: 100vh;
	position: relative;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

.site-header {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.site-description {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.most-recent-journals {
	display: flex;	
	margin: 0 auto;
	div {
		flex: 0 1 32%;
	}
	:first-child {
		img {
			height: 247px; // dan is awesome!
		}
	}
	a {
		color: #248a83;
	}
}

.journal-recent-block-item {
	
}

.home-logo {
	background: url(../../images/inhabitent-logo-tent.svg) no-repeat;
	background-size: contain;
	width: 50%;
	a {
		width: 50px;
		height: 33px;
	}
}

.page-template-about .entry-header {
	height: 100vh;
	.entry-title {
		position: absolute;
		color: white;
		font-size: 48px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.content-area {
    width: 100%;
}

.site-content {
    display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.page-id-183 .site-content {
	flex-flow: column nowrap;
}

.page-id-183 #site-navigation {			
		a {
		color: white;
		}
}

.page-id-2 #site-navigation {			
		a {
		color: white;
		}
}

.page-id-183 .home-logo {
	background: url(../../images/inhabitent-logo-tent-white.svg) no-repeat;
	background-size: contain;
}

.page-id-2 .home-logo {
	background: url(../../images/inhabitent-logo-tent-white.svg) no-repeat;
	background-size: contain;
}

.front-page-shop-container {
	text-align: center;
	width: 1120px;
    margin: 0 auto;
	h2 {
		font-size: 38.4px;
		color: #2f1339;
		margin-bottom: 60px;
		line-height: 48px;
	}
	.front-page-terms {
		text-align: center;
		margin: 0 auto;
		display: flex;
		.front-page-term {
			list-style: none;
			border: 1px solid #e1e1e1;
			border-top-width: 5px;
			padding: .75rem;
			margin: 0 auto;	
			width: 23%;
				
			img {
				width: 70px;
				height: 70px;
			}
		}
	}
}