/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

body{
	&:not(.page-template-about){
		#primary {
			width: 75%;
		}
	}
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#secondary {
	width: 25%;
}

body.archive {
	.archive-product {
		flex-flow: column nowrap;
		display: flex;
	}
}

.site-main {
	margin: 0 auto;
}

.home-hero {
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
	width: 100vw;
	height: 100vh;
	position: relative;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

.site-header {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.site-description {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.front-page-terms {
	display: flex;
	.front-page-term {
		width: 20%;
		height: 20%;
	}
}

.most-recent-journals {
	display: flex;	
}

.journal-recent-block-item {
	
}

.home-logo {
	background: url(../../images/inhabitent-logo-tent.svg) no-repeat;
	background-size: contain;
	width: 50%;
	a {
		width: 50px;
		height: 33px;
	}
}

.page-template-about .entry-header {
	height: 100vh;
	.entry-title {
		position: absolute;
		color: white;
		font-size: 48px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}