.site-footer {
    background: 
    url(../../images/dark-wood.png); 
    color: #fff;
    .footer-container{
        display: flex;
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
        .footer-logo {
            flex-basis: 50%;
            text-align: right;
            margin: 48px 0;
            img {
                width: 50%;
            }
        }
        .business-hours {
            flex-basis: 25%;
            margin: 48px 0;
            
        }
        .contact-info {
            flex-basis: 25%;
            margin: 48px 0;
            
            i {
                margin-right: 8px;
                font-size: 20px;
            }
        }
        .orange-text {
            color: #d99054;
            text-transform: uppercase;
            font-size: 19.2px;
            font-family: Novecento,sans-serif;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .day-of-week {
            font-weight: 700;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .copyright {
        font-family: Novecento,sans-serif;
        text-align: center;
        text-transform: uppercase;
        padding: 28px 0;
    }
}
